<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-1.18.0.css">
    <script type="text/javascript" src="https://code.jquery.com/qunit/qunit-1.18.0.js"></script>
    <link rel="stylesheet" type="text/css" href="https://search-webstie.herokuapp.com/style.css">
    <script src="https://search-webstie.herokuapp.com/search.js"></script>
    <script type="text/javascript" src="frontend-test.js"></script>
    <title>Search</title>
</head>
<body>

<h1>Search About ...</h1>
	<div class="form-wrapper">


	    <input list="words" type="text" id="search" placeholder="Search for..." oninput="auto()" name="search">

	    <input type="submit" value="go" id="submit">
	    <datalist id="words">

	    </datalist>
	    <div id="content"></div>

	</div>
	<div id="qunit"></div>
</body>


</html>
